body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
:root{
    --main-color: #FF9800;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Start landing */
.links-container{
    width: 100%;
}
.landing-page .header-area .toggle-menu{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    display: none;
    position: relative;
}
.landing-page .header-area .toggle-menu:focus{
    outline: none;
}
.landing-page .header-area .toggle-menu span{
    display: block;
    background-color: white;
    height: 3px;
    margin-bottom: 5px;
    width: 100%;
}
@media (max-width:992px) {
    .landing-page .links{
        display: none;
    }
    .landing-page .header-area .toggle-menu{
        display: block;
        text-align: right;
    }
    .landing-page .header-area .links.open{
        background-color: #fff;
        width: 100%;
        left: 0;
        top: 45px;
        display: block;
        position: absolute;
        border-radius: 4px;
        padding: 5px;
        text-align: left;
        z-index: 1;
    }
    .landing-page .header-area .links.open li a{
        color: var(--main-color);
    }
    .landing-page .header-area .links.open li{
        display: block;
        font-weight: bold;
        margin: 10px;
    }
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.landing-page .header-area .toggle-menu.menu-active::before{
    content: '';
    position: absolute;
    border-color: #ff000000 #0000ff00 #f6f6f6 #ffd70000;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    right: 15%;
    top: 15px;
}
.landing-page{
    min-height: 100vh;
    background-image: url(../Images/01.jpg);
    background-size: cover;
    position: relative;
}
.landing-page::before{
    content: " ";
    background-color: #3d4045ba;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.landing-page .header-area{
    color: #fff;
    position: relative;
    display: flex;
    height: 75px;
    align-items: center;
    padding: 10px;
}

.landing-page .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
}
.landing-page .links{
    flex: 1;
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
    transition: 0.3s;
}
.landing-page .links li{
    display: inline-flex;
    margin-left: 10px;
}
.landing-page .links a{
    color: white;
}
.landing-page .links a:hover,
.landing-page .links a.active
{
    color: var(--main-color);
}
.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding: 15px;
    text-align: center;
    width: 95%;
}
.introduction-text h1{
    font-size: 35px;
    margin: 0 0 12px;
}
@media (max-width: 576px) {
    .introduction-text h1{
        font-size: 26px;
    }
    
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: #fff;
    z-index: 1000;
    height: 100vh;
    transition: 1s;
}
.setting-box.open{
    left: 0;
}
.setting-box .toggle{
    position: absolute;
    top: 100px;
        right: -30px;
        background-color: white;
        text-align: center;
        cursor: pointer;
}
.setting-box .fa-gear{
        width: 30px;
        padding: 8px 0;
}
.setting-box .setting-container .option-box{
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}
.setting-box .setting-container .option-box h4{
    margin: 0;
    color: #666;
    font-size: 14px;
}
.setting-box .setting-container .option-box .color-list li{
    height: 20px;
    width: 20px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #EEE;
    cursor: pointer;
}
.setting-box .setting-container .option-box .color-list li:first-child{
    background-color: var(--main-color);
}
.setting-box .setting-container .option-box .color-list li:nth-child(2){
    background-color: #E91E63;
}
.setting-box .setting-container .option-box .color-list li:nth-child(3){
    background-color: #009688;
}
.setting-box .setting-container .option-box .color-list li:nth-child(4){
    background-color: #48207a;
}
.setting-box .setting-container .option-box .color-list li:nth-child(4){
    background-color: #20427a;
}
.setting-box .setting-container .option-box .color-list li.active{
    border-color: white;
}
.setting-box .setting-container .option-box .color-list{
    padding: 0;
    text-align: center;
    margin: 10px 0 0;
}
.setting-box .setting-container .option-box span.active{
    opacity: 1;
}
.setting-box .setting-container .option-box .yes,
.setting-box .setting-container .option-box .no{
    color: white;
    margin-top: 10px;
    display: inline-block;
    height: 30px;
    width: 50px;
    background-color: var(--main-color);
    padding: 8px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
}
.setting-box button.reset-option{
    background-color: #ff4949f0;
    display: block;
    border: none;
    width: 178px;
    margin: 10px auto;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.nav-bullets{
    position: fixed;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 200;
}
.nav-bullets .bullet{
    width: 16px;
    height: 16px;
    border: 3px solid var(--main-color);
    margin: 15px auto;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.nav-bullets .bullet .tool-tip{
    position: absolute;
    right: 30px;
    width: 120px;
    background-color: var(--main-color);
    padding: 5px 10px;
    top: -9px;
    color: white;
    margin: 0 0 3px;
    display: none;
    text-align: center;
    pointer-events: none;
    cursor: default;
}
.nav-bullets .bullet:hover .tool-tip{
    display: block;
}
.nav-bullets .bullet .tool-tip::before{
    content: "";
    border-width: 14px;
    border-style: solid;
    border-color: #c0c0c000 #ff000000 #00800000 var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -28px;
    top: 0px;
}
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
@media (max-width: 767px) {
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us .info-box{
        padding: 0;
    }
}
.about-us .info-box{
    flex-basis: 55%;
    padding: 20px;
}

.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image-box{
    flex-basis: 45%;
    text-align: center;
}
.about-us .image-box img{
    max-width: 80%;
}
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills .container h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
    text-align: center;
}
.skills .skill-box{
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
}
@media (max-width: 767px) {
    .skills .skill-box{
        display: block;
    }
}
@media (max-width: 767px) {
    .skills .skill-box .skill-name{
        width: 100%;
        margin-bottom: 10px;
    }
}
.skills .skill-name{
    width: 140px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
.skills .skill-progress{
    height: 20px;
    width: calc(100% - 110px);
    background-color: #f6f6f6;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.skills .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    display: block;
    height: 100%;
    transition: all 1s;
}
/* end landing */
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
    text-align: center;
}
.gallery .images{
    text-align: center;
}
.gallery .images img{
    width: 300px;
    height: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #CCC ;
    margin: 5px;
    cursor: pointer;
}
.popup-overly{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.popupBox{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #CCC;
    z-index: 1001;
}
.popupBox img{
    max-width: 100%;
}
.image-heading{
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    margin: 0 0 20px;
}
.closeButton{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    left: 50%;
    background-color: var(--main-color);
}
.timeline .timeline-content .year{
    margin: 20px auto;
    position: relative;
    width: 50px;
    background-color: var(--main-color);
    padding: 2px 5px;
    z-index: 2;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left::before{
    right: -35px;
}
.timeline .timeline-content .right::before{
    left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20px;
}
.timeline .timeline-content .right{
    float: right;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p{
    line-height: 1.6;
    color: #666;
    margin: 0;
}
.clear-fix{
    clear: both;
}
.timeline .timeline-content .left .content::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    height: 0;
    width: 0;
    right: -20px;

}
@media (max-width: 767px){
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 100%;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
        display: none;
    }
    .timeline .timeline-content .left .content::before{
        display: none;
    }
}
.timeline .timeline-content .right .content::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    height: 0;
    width: 0;
    left: -20px;
}
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 30px;
    text-align: center;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.features .container .feat-box{
    text-align: center;
    margin-bottom: 40px;
}
.features .container .feat-box img{
    max-width: 200px;
    height: 190px;
    border-radius: 50%;
}
.features .container .feat-box h4{
    font-size: 22px;
    margin: 20px 0 40px;
    position: relative;
}
.features .container .feat-box h4::before{
    content: '';
    height: 4px;
    width: 90px;
    position: absolute;
    background-color: violet;
    bottom: -13px;
    left: 50%;
    margin-left: -45px;
}
.features .container .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #666;
}
.testimonials{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.testimonials h2{
    color: white;
    z-index: 200;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 30px;
}
.testimonials::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}
.testimonials::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.testimonials .container .ts-box{
    z-index: 2;
    position: relative;
    width: calc(98% / 3);
    padding: 15px;
    background-color: #fff;
    float: left;
}
@media (max-width: 767px) {
    .testimonials .container .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
}
.testimonials .container .ts-box:not(:last-child){
    margin-right: 1%;
}
.testimonials .container .ts-box img{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 15px;
}
@media (max-width: 991px) {
    .testimonials .container .ts-box img{
        float: none;
        margin-right: 0;
    }
}
.testimonials .container .ts-box > p{
    margin: 0 0 10px;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: #777;
}
@media (max-width: 767px) {
    .testimonials h2{
        text-align: center;
    }
}
.testimonials .container .ts-box .persone-info{
    overflow: hidden;
}
@media (max-width: 991px) {
    .testimonials .container .ts-box .persone-info{
        text-align: center;
        overflow: visible;
    }
}
.testimonials .container .ts-box .persone-info p{
    margin: 0;
    color: #777;
    font-size: 14px;
}
.testimonials .container .ts-box .persone-info h4{
    margin: 12px 0 10px;
}
.contact-us{
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(/Images/contact\ us.png);
    background-size: cover;
    min-height: 600px;
    position: relative;
}
.contact-us::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
}
.contact-us .container{
    position: relative;
    z-index: 2;
}
.contact-us .container h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 30px;
    text-align: center;
}
.container form{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.container form .left{
    width: 49%;
    text-align: right;
}
.container form .right{
    width: 49%;
    text-align: left;
}
.container form .left input:not([type = "submit"]),
.container form .right textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 10px;
    background-color: rgba(218, 218, 218, 0.19);
}
.container form .left input:not([type = "submit"]):focus,
.container form .right textarea:focus{
    outline: 1px solid var(--main-color);
}
.container form .right textarea{
    height: 141px;
}
.container form .right input[type="submit"]{
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
.heading i{
    display: none;
}
@media (max-width: 767px) {
    .container form{
        flex-direction: column;
    }
    .container form .left,
    .container form .right{
        width: 100%;
    }
}
.container form .right textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: 0.3s;
}
.container form .left input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: 0.3s;
    background-color: #777;
}

